@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";

@theme {
    --color-primary-400: #ffc8dd;
    --color-primary-500: #FF478A;
    --color-seondary-400: #bde0fe;
    --color-secondary-500: #8AC7FF;
    --color-secondary-600: #9bf6ff;
    --color-accent-1: #ffdc5e;
    --color-backdrop: #0000002f;
    --font-serif: "Noto Serif Thai";
}